body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: "#f8f9fa";

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-nav{
  background-color: red;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  height: 100%;
  width: 250px;
}
.main-nav a{
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin: 10px;
}

/* 
nav a.active{
  font-weight: bold;
  font-size: 32px;
}
*/
#root{
  display: flex;

}

.hero{
  width: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 10px;
  border-radius: 10px;
}

.formstyle{
  width: 100%;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.normaldiv{
  border: 1px solid grey;
  margin: 10px;
  width: 100%;
  border-radius: 10px;
}